In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = "loan_status"

In [3]:
df = pd.read_csv('LoanStats_2019Q1.csv', skiprows=1)

/Users/gretapfundt/anaconda3/envs/mlenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df = df.loc[:, columns].copy()

In [5]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()

In [6]:
# Remove the `Issued` loan status
df = df.loc[df['loan_status'] != 'Issued']

In [7]:
# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100

df = pd.get_dummies(df,columns = ['home_ownership','pymnt_plan','initial_list_status',
                                  'application_type','debt_settlement_flag','hardship_flag',
                                  'next_pymnt_d','issue_d','verification_status'])

In [8]:
df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,debt_settlement_flag_N,hardship_flag_N,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
93,10500.0,0.1719,375.35,66000.0,Current,27.24,0.0,0.0,8.0,0.0,...,1,1,0,1,0,0,1,0,1,0
99,25000.0,0.2000,929.09,105000.0,Current,20.23,0.0,0.0,17.0,1.0,...,1,1,0,1,0,0,1,0,0,1
132,20000.0,0.2000,529.88,56000.0,Current,24.26,0.0,0.0,8.0,0.0,...,1,1,0,1,0,0,1,0,0,1
133,10000.0,0.1640,353.55,92000.0,Current,31.44,0.0,1.0,10.0,1.0,...,1,1,0,1,0,0,1,0,0,1
140,22000.0,0.1474,520.39,52000.0,Current,18.76,0.0,1.0,14.0,0.0,...,1,1,0,1,0,0,1,1,0,0

In [9]:
# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 
                  'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)
df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,debt_settlement_flag_N,hardship_flag_N,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,0,1,0,0,1,0,1,0
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,0,1,0,0,1,0,0,1
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,0,1,0,0,1,0,0,1
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,0,1,0,0,1,0,0,1
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,0,1,0,0,1,1,0,0

In [10]:
#create featurs
y = df[target].replace({'low_risk':1,'high_risk':0})
X = df.drop(columns = [target])

In [11]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 95 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   loan_amnt                            68817 non-null  float64
 1   int_rate                             68817 non-null  float64
 2   installment                          68817 non-null  float64
 3   annual_inc                           68817 non-null  float64
 4   dti                                  68817 non-null  float64
 5   delinq_2yrs                          68817 non-null  float64
 6   inq_last_6mths                       68817 non-null  float64
 7   open_acc                             68817 non-null  float64
 8   pub_rec                              68817 non-null  float64
 9   revol_bal                            68817 non-null  float64
 10  total_acc                            68817 non-null  float64
 11  out_prncp                            68817 non-null  float64
 12  out_prncp_inv                        68817 non-null  float64
 13  total_pymnt                          68817 non-null  float64
 14  total_pymnt_inv                      68817 non-null  float64
 15  total_rec_prncp                      68817 non-null  float64
 16  total_rec_int                        68817 non-null  float64
 17  total_rec_late_fee                   68817 non-null  float64
 18  recoveries                           68817 non-null  float64
 19  collection_recovery_fee              68817 non-null  float64
 20  last_pymnt_amnt                      68817 non-null  float64
 21  collections_12_mths_ex_med           68817 non-null  float64
 22  policy_code                          68817 non-null  float64
 23  acc_now_delinq                       68817 non-null  float64
 24  tot_coll_amt                         68817 non-null  float64
 25  tot_cur_bal                          68817 non-null  float64
 26  open_acc_6m                          68817 non-null  float64
 27  open_act_il                          68817 non-null  float64
 28  open_il_12m                          68817 non-null  float64
 29  open_il_24m                          68817 non-null  float64
 30  mths_since_rcnt_il                   68817 non-null  float64
 31  total_bal_il                         68817 non-null  float64
 32  il_util                              68817 non-null  float64
 33  open_rv_12m                          68817 non-null  float64
 34  open_rv_24m                          68817 non-null  float64
 35  max_bal_bc                           68817 non-null  float64
 36  all_util                             68817 non-null  float64
 37  total_rev_hi_lim                     68817 non-null  float64
 38  inq_fi                               68817 non-null  float64
 39  total_cu_tl                          68817 non-null  float64
 40  inq_last_12m                         68817 non-null  float64
 41  acc_open_past_24mths                 68817 non-null  float64
 42  avg_cur_bal                          68817 non-null  float64
 43  bc_open_to_buy                       68817 non-null  float64
 44  bc_util                              68817 non-null  float64
 45  chargeoff_within_12_mths             68817 non-null  float64
 46  delinq_amnt                          68817 non-null  float64
 47  mo_sin_old_il_acct                   68817 non-null  float64
 48  mo_sin_old_rev_tl_op                 68817 non-null  float64
 49  mo_sin_rcnt_rev_tl_op                68817 non-null  float64
 50  mo_sin_rcnt_tl                       68817 non-null  float64
 51  mort_acc                             68817 non-null  float64
 52  mths_since_recent_bc                 68817 non-null  float64
 53  mths_since_recent_inq                68817 non-null  float64
 54  num_accts_ever_120_pd                68817 non-null  float64
 55  num_actv_bc_tl                       68817 non-null  float64
 56  num_actv_rev_tl                      68817 non-null  float64
 57  num_bc_sats                          68817 non-null  float64
 58  num_bc_tl                            68817 non-null  float64
 59  num_il_tl                            68817 non-null  float64
 60  num_op_rev_tl                        68817 non-null  float64
 61  num_rev_accts                        68817 non-null  float64
 62  num_rev_tl_bal_gt_0                  68817 non-null  float64
 63  num_sats                             68817 non-null  float64
 64  num_tl_120dpd_2m                     68817 non-null  float64
 65  num_tl_30dpd                         68817 non-null  float64
 66  num_tl_90g_dpd_24m                   68817 non-null  float64
 67  num_tl_op_past_12m                   68817 non-null  float64
 68  pct_tl_nvr_dlq                       68817 non-null  float64
 69  percent_bc_gt_75                     68817 non-null  float64
 70  pub_rec_bankruptcies                 68817 non-null  float64
 71  tax_liens                            68817 non-null  float64
 72  tot_hi_cred_lim                      68817 non-null  float64
 73  total_bal_ex_mort                    68817 non-null  float64
 74  total_bc_limit                       68817 non-null  float64
 75  total_il_high_credit_limit           68817 non-null  float64
 76  home_ownership_ANY                   68817 non-null  uint8
 77  home_ownership_MORTGAGE              68817 non-null  uint8
 78  home_ownership_OWN                   68817 non-null  uint8
 79  home_ownership_RENT                  68817 non-null  uint8
 80  pymnt_plan_n                         68817 non-null  uint8
 81  initial_list_status_f                68817 non-null  uint8
 82  initial_list_status_w                68817 non-null  uint8
 83  application_type_Individual          68817 non-null  uint8
 84  application_type_Joint App           68817 non-null  uint8
 85  debt_settlement_flag_N               68817 non-null  uint8
 86  hardship_flag_N                      68817 non-null  uint8
 87  next_pymnt_d_Apr-2019                68817 non-null  uint8
 88  next_pymnt_d_May-2019                68817 non-null  uint8
 89  issue_d_Feb-2019                     68817 non-null  uint8
 90  issue_d_Jan-2019                     68817 non-null  uint8
 91  issue_d_Mar-2019                     68817 non-null  uint8
 92  verification_status_Not Verified     68817 non-null  uint8
 93  verification_status_Source Verified  68817 non-null  uint8
 94  verification_status_Verified         68817 non-null  uint8
dtypes: float64(76), uint8(19)
memory usage: 41.1 MB

In [12]:
# Check the balance of our y values
y.value_counts()

1    68470
0      347
Name: loan_status, dtype: int64

In [13]:
#test/train split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
X_train.to_csv('X_train.csv')
X_test.to_csv('X_test.csv')
y_train.to_csv('y_train.csv')
y_test.to_csv('y_test.csv')